* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark_blue: #0F283C; 
    --light_blue: #4885B4; 
    --orange: #F88100; 
    --orange_hover: #C8700D; 
    font-size: 16px; 
    font-family: 'Raleway', sans-serif;
}
 
h1,  h2 , h3 , h4 , p{
    margin-bottom: 1rem;
}

p {
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}


img {
    display: block;
}
ul {
    list-style-type: none;
}



/* ------------------------------ */
.heading_section {
    position: relative;
    color: white;
    min-height: 100vh;
    width: 100%;
}


header {
    padding:clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
    padding-top: 0;
    padding-bottom: 0;
}
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;  
    gap: 2rem;
}

.navigation_complete {
    display: flex;
    gap: 2rem;
}

.menu_list {
    display: flex;
    justify-content: space-evenly;
}
#bestplace_logo {
    width: 170px;
    height: 30px;
}

.navigation_middle {
    display: none;
}

.menu_item_text {
    font-size: 21px;
    color: white;
}

#bestplace_video {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: inherit;
    height: 100vh;
}

.menu_grid {
    display: grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.heading_middle_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.heading_title {
    font-size: clamp(2.5rem, 1.5909rem + 4.5455vw, 5rem);font-weight: 400;
}

.heading_subtitle {
    font-size: clamp(2rem, 1.5909rem + 2.0455vw, 3.125rem);
    font-weight: 400;
}

.heading_content_link {
    background-color: var(--orange);
    padding: clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem ;
    border: 1px solid white;
    width: fit-content;
    margin: auto;
}

.heading_content_link p {
    margin-bottom: 0;
}

.heading_content_link_btn{
    color: white !important;
    font-size: 20px;
}

/* ------------------------------------ */


.heading_cards_section {
    padding: 0.5rem;
    padding-top: clamp(2.5rem, 2.0595rem + 2.2026vw, 3.75rem);
    padding-bottom: clamp(2.5rem, 2.0595rem + 2.2026vw, 3.75rem);
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.card_border {
    background-color: var(--light_blue);
    color: white;
    padding: 0.5rem;
    transition: all 300ms;
}

.card_border:hover {
    transform: translateY(-1rem);
}

.heading_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    border: 2px solid white;
}


.head_card_icon{
    height:clamp(5.25rem, 4.457rem + 3.9648vw, 7.5rem);
    display: grid;
    place-items: center;
}

.head_card_content {
    margin: clamp(1.75rem, 1.1333rem + 3.0837vw, 3.5rem);
    margin-top: clamp(0.875rem, 0.5666rem + 1.5419vw, 1.75rem);
    text-align: justify;
    font-size: clamp(0.8125rem, 0.6583rem + 0.7709vw, 1.25rem);
}

.head_card_button {
   width: 100%;
}

.head_card_button_text {
    display: grid; 
    place-items: center;
}

.head_icon {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    background-color: white;
    color: var(--dark_blue);
    font-size: clamp(0.8125rem, 0.6583rem + 0.7709vw, 1.25rem);
    padding: clamp(0.8125rem, 0.4381rem + 1.8722vw, 1.875rem);
    padding-top: 0 ;
    padding-bottom:0;
   /*  width: clamp(17rem, 15.2379rem + 8.8106vw, 22rem); */
    width: 90%;
    min-height:clamp(3rem, 2.4714rem + 2.6432vw, 4.5rem);
    transition: all 300ms;
    margin: auto;
    display: grid; 
    place-items: center;
}

.head_icon:hover {
   /*  width: clamp(18rem, 17.2379rem + 8.8106vw, 23rem); */
    width: 100%;
}

.span_icon {
    background-color: white;
    position: absolute;
    right: 3rem;
    opacity: 0;
    transform: translateX(50%);
    padding-right: 1rem;
    min-height: inherit;
    display: grid;
    place-items: center;
    transition: all 300ms;
}

.head_card_button:hover .span_icon {
    opacity: 1;
    transform: translateX(200%);
}

.card_border_dark {
    background-color: var(--dark_blue);
}

/* ----------------------------------------- */

