* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark_blue: #0F283C; 
    --light_blue: #4885B4; 
    --orange: #F88100; 
    --orange_hover: #C8700D; 
    font-size: 16px; 
    font-family: 'Raleway', sans-serif;
}
 
h1,  h2 , h3 , h4 , p{
    margin-bottom: 1rem;
}

p {
    line-height: 1.6rem;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

img {
    display: block;
}
ul {
    list-style-type: none;
}

.back_img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.general_title {
    padding: 40px 5px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: clamp(2rem, 1.7619rem + 1.1905vw, 2.5rem);
}


/* ------------------------------ */
.heading_section {
    position: relative;
    color: white;
    min-height: 100vh;
    width: 100%;
}


header {
    padding:clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
    padding-top: 0;
    padding-bottom: 0;
}
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;  
    gap: 2rem;
}

.navigation_complete {
    display: flex;
    gap: 2rem;
}

.menu_list {
    display: flex;
    justify-content: space-evenly;
}
#bestplace_logo {
    width: 170px;
    height: 30px;
}

.navigation_middle {
    display: none;
}

.menu_item_text {
    font-size: 21px;
    color: white;
}

#bestplace_video {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: inherit;
    height: 100vh;
}

.menu_grid {
    display: grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.heading_middle_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.heading_title {
    font-size: clamp(2.5rem, 1.5909rem + 4.5455vw, 5rem);font-weight: 400;
}

.heading_subtitle {
    font-size: clamp(2rem, 1.5909rem + 2.0455vw, 3.125rem);
    font-weight: 400;
}

.heading_content_link {
    background-color: var(--orange);
    padding: clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem ;
    border: 1px solid white;
    width: fit-content;
    margin: auto;
}

.heading_content_link p {
    margin-bottom: 0;
}

.heading_content_link_btn{
    color: white !important;
    font-size: 20px;
}

/* ------------------------------------ */


.heading_cards_section {
    padding: 0.5rem;
    padding-top: clamp(2.5rem, 2.0595rem + 2.2026vw, 3.75rem);
    padding-bottom: clamp(2.5rem, 2.0595rem + 2.2026vw, 3.75rem);
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.card_border {
    background-color: var(--light_blue);
    color: white;
    padding: 0.5rem;
    transition: all 300ms;
}

.card_border:hover {
    transform: translateY(-1rem);
}

.heading_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    border: 2px solid white;
}


.head_card_icon{
    height:clamp(5.25rem, 4.457rem + 3.9648vw, 7.5rem);
    display: grid;
    place-items: center;
}

.head_card_content {
    margin: clamp(1.75rem, 1.1333rem + 3.0837vw, 3.5rem);
    margin-top: clamp(0.875rem, 0.5666rem + 1.5419vw, 1.75rem);
    text-align: justify;
    font-size: clamp(0.8125rem, 0.6583rem + 0.7709vw, 1.25rem);
}

.head_card_button {
   width: 100%;
}

.head_card_button_text {
    display: grid; 
    place-items: center;
}

.head_icon {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    background-color: white;
    color: var(--dark_blue);
    font-size: clamp(0.8125rem, 0.6583rem + 0.7709vw, 1.25rem);
    padding: clamp(0.8125rem, 0.4381rem + 1.8722vw, 1.875rem);
    padding-top: 0 ;
    padding-bottom:0;
   /*  width: clamp(17rem, 15.2379rem + 8.8106vw, 22rem); */
    width: 90%;
    min-height:clamp(3rem, 2.4714rem + 2.6432vw, 4.5rem);
    transition: all 300ms;
    margin: auto;
    display: grid; 
    place-items: center;
}

.head_icon:hover {
   /*  width: clamp(18rem, 17.2379rem + 8.8106vw, 23rem); */
    width: 100%;
}

.span_icon {
    background-color: white;
    position: absolute;
    right: 3rem;
    opacity: 0;
    transform: translateX(50%);
    padding-right: 1rem;
    min-height: inherit;
    display: grid;
    place-items: center;
    transition: all 300ms;
}

.head_card_button:hover .span_icon {
    opacity: 1;
    transform: translateX(200%);
}

.card_border_dark {
    background-color: var(--dark_blue);
}

/* ----------------------------------------- */


.asset_hightlight {
    color: var(--dark_blue);
}

.assets_wrapper {
    display: flex;
    flex-direction: column;
}

.assets_wrapper > * {
    flex-grow: 1;
}

.assets_content_mobile {
    background-color: var(--dark_blue);
    color: white;
    padding: 1.5rem;
}

.assets_content_tablet {
    display: none;
}

.assets_content_mobile h1 , .assets_content_tablet h1 {
    text-align: center ;
    font-weight: lighter;
    font-size: clamp(1.625rem, 0.9642rem + 3.304vw, 3.5rem);
}

.asset_number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem; 
}

.asset_square , .asset_room {
    text-align: center;
}


.asset_some_numbers {
    display: block;
}

.asset_img {
    background-image: url("https://www.bestplace-immobilien.de/wp-content/uploads/2021/11/Lion-Feuchtwanger-Rendering-Gartenplateau.jpg");
    min-height: clamp(13.75rem, 7.9464rem + 29.0179vw, 21.875rem);
}

.asset_button {
    text-align: center;
}

#asset_info_button {
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    transition: all 200ms;
}

#asset_info_button:hover {
    background-color: white;
    color: var(--dark_blue);
}

/* ------------------------------ */ 


.port1{
    background-image: url("https://www.bestplace-immobilien.de/wp-content/uploads/2021/11/BestPlaceImmobilien_Neubau_Stolpe_Gartenfassade_WEB-1024x572.jpg");
   
}

.port2 {
    background-image: url("https://www.bestplace-immobilien.de/wp-content/uploads/2021/03/Lui23-1024x771.jpg");
  
}


.port3 {
    background-image: url("https://www.bestplace-immobilien.de/wp-content/uploads/2021/11/FMP-1-1024x768.jpg");

}


.port4 {
    background-image: url("https://www.bestplace-immobilien.de/wp-content/uploads/2021/11/17_Versand-Pallas_Berlin_Germany_P4_Camera6.1-1024x563.jpg");
    
}

.port1 , .port4 {
    display: none;
}

.port1 , .port2 , .port3 , .port4 {
    position: relative;
    width: 100%;
    /* margin-bottom: 2rem; */
}

.portfolio_cards {
    display: flex;
    flex-direction: column;
    gap: 0.2rem
    ;
    position: relative;
}

.middle_port {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border: 2px var(--dark_blue) solid;
}

.middle_port p {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
}

.port3 , .port2 {
    min-height:clamp(11.25rem, 0.2851rem + 54.8246vw, 26.875rem);
}


.portfolio_slider {
    width: 100%;
    background-color: rgb(15, 40, 60 , 0.85);
    color: white;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 700ms;
    opacity: 0;
}

@media screen and (min-width: 450px) {
    .portfolio_slider {
        height: 50%;
    }
}

.slider_hover:hover .portfolio_slider {
    transform: translateY(0%);
    opacity: 1;
}

.port_slider_content{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.port_slider_title h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}

.port_some_numbers {
    display: block;
}

/* ---------------------  */

.about_us_container {
    background-color: var(--dark_blue);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.about_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1.5rem;
}
   
.about_card {
    flex: 1 1 250px;
  /*   max-width: 300px; */
    color: white;
    text-align: center;
}

.about_card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* ----------------------------------------------- */

  <section class="umsatz_section">
      <div class></div>
      <div class="umsatz_container back_img">
        <div class="umsatz_wrapper">
          <div class="umsatz_cards mitarbeiter">
            <div class="umsatz_facts">
              <h3 class="umsatz_mitarbeiter">98</h3>
              <p class="umsatz_mitarbeiter_text">
                <span>BEST PLACE </span> <br />
                Mitarbeiter
              </p>
            </div>
            <div class="umsatz_hover_text">
              <p class="umsatz_text">
                Um unseren exzellenten Service bieten zu können, arbeiten mehr
                als 98 Mitarbeiter in den Bereichen Vertrieb, Marketing und
                Hausverwaltung.
              </p>
            </div>
          </div>
          <!-- --------------- -->
          <div class="umsatz_cards erfahrung">
            <div class="umsatz_facts">
              <h3 class="umsatz_mitarbeiter">473</h3>
              <p class="umsatz_mitarbeiter_text">
                Jahre <br />
                Erfahrung
              </p>
            </div>
            <div class="umsatz_hover_text">
              <p class="umsatz_text">
                Im BEST PLACE Team kommen viele Jahre Erfahrung in den
                unterschiedlichsten Facetten der Immobilienbranche zusammen.
              </p>
            </div>
          </div>
          <!-- ----------- -->
          <div class="umsatz_cards umsatz_gewinn">
            <div class="umsatz_facts">
              <h3 class="umsatz_mitarbeiter">250</h3>
              <p class="umsatz_mitarbeiter_text">
                Mio. Euro <br />
                Umsatz
              </p>
            </div>
            <div class="umsatz_hover_text">
              <p class="umsatz_text">
                Jährlich verkauft BEST PLACE Immobilien im Wert von mehr als 200
                Mio. Euro, darunter Neubau-Wohnungen und Bestandsobjekte.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- -------------------------------------- -->



